.product-name-section {
  margin-bottom: 5rem;
  margin-right: 10rem;
}

.product-subtitle {
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-secondary);
  margin-bottom: 1rem;
}

.slider-container {
  overflow: hidden;
  background-color: var(--bg-secondary);
  border-radius: 1.5rem;
  padding: 2rem;
}

.slider {
  display: flex;
  gap: 2rem;
}

.right-icon,
.left-icon {
  position: relative;
  float: right;
  top: -14rem;
  cursor: pointer;
}

.right-icon {
  left: 5rem;
}

.left-icon {
  right: 138rem;
  transform: rotate(-180deg);
}
